@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40%;
    text-align: center;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: cadetblue;
    box-shadow: 1px 10px 15px 5px #888888;
    transition: all 0.5s;
}

.card:hover {
    box-shadow: 5px 6px 15px 5px #8d5151;
    transition: all 0.5s;
    cursor: pointer;
}

.form-field label {
    font-size: 1.5rem;
}

input#guessingNumber {
    width: 50%;
    padding: 5px;
    font-size: 16px;
    border: none;
    background-color: #cdbc93;
    border-radius: 5px;
}

form {
    margin: 10px 0px;
    padding: 10px 0px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    display: flex;
    justify-content: flex-end;
    margin: 5px 5px;
}

button#check-result {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background: #b54d4d96;
    color: #fff;
    transition: all 1s;
}

button#check-result:hover {
    color: black;
    background-color: #fff;
    cursor: pointer;
    transition: all 1s;
}

.large-text {
    font-size: 1.5rem;
    color: bisque;
}